@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
}
.content{
    width: 85%;
    height: 100%;
    max-width: 75em;
    margin: auto;
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21.18em;
    width: 95%;
}
.btnMenu{
    display: none;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}
.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 4em;
}
.banner-text p{
    font-size: 1.5em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    color: white;
    
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transition: 0.2s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000;
    transform: skewY(-3deg)
}
.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}
.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em;
}
.jogos-aovivo::after{
    content:'';
    height: 2.666em;
    border-right: solid 1px #fff;
    margin: 0 1em;
}
.partida{
    width: 9.5em;
    margin-left: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.partida img{
    max-width: 1.8em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.time1{
    margin-left: 0.5em;
}
.time2{
    margin-right: 0.5em;
}
.cards{
    width: 100%;
    height: 57.5em;
    background-color: #1e1c21;
    display: flex;
}
.cards a{
    text-decoration: none;
}
.cards-position{
    width: 100%;
    max-width: 78.125em;
    height: 57.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}
.cards-center{
    width: 100%;
    max-width: 50em;
    height: 50em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
.notice{
    max-width: 14.68em;
    width: 100%;
    height: 22.81em;
    background-color: var(--background);
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    box-shadow: 1px 1px 20px 4px #000000;
}
.notice h3{
    text-transform: uppercase;
    font-size: 1.125em;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 13em;
}
.notice p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: justify;
    margin: auto;
    width: 100%;
    max-width: 13em;
}
.aside{
    width:90%;
    max-width: 15em;
    height: 46.875em;
    background-color: #000;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    box-shadow: 1px 1px 20px 4px #000000;
}
.next a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.next img{
    width: 100%;
    max-width: 3.5em;
    height: 3.5em;
}
.next p {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}
.next h4{
    font-size: 1.5em;
}
.next{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2.5em;
    width: 100%;
    max-width: 15em;
    text-transform: uppercase;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}
.logo-rodape{
    max-width: 20em;
}
.rodape img{
    width: 100%;
    max-width: 20em;
    height: 2em;
}
.links-footer{
    width: 33%;
    display: flex;
    justify-content: space-around;
}
.links h2{
    font-size: 1.5em;
    color: white;
}
.links ul{
    color: white;
    margin-top: 0.5em;
}
.links li{
    margin-left: 2em;
}
.links a{
    text-decoration: none;
    color: white;
}
.socias{
    width: 33%;
}
.newslatter h2 {
    font-size: 1em;
    color: white;
    margin-bottom: 0.5em;
}
.newslatter form{
    display: flex;
}
.newslatter input[type="email"]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}
.newslatter input[type="email"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.newslatter input[type="submit"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    background-color: #8326ef;
}
.siga-nos{
    margin-top: 1em;
}
.siga-nos h2{
    color: white;
}
@media screen and (max-width: 74.93em){
    .content{
        width: 85%;
        justify-content: space-around;
    }
    .about-text h2{
        font-size: 2em;
    }
    .about-text p{
        font-size: 1em;
    }
    .topo img{
        width: 100%;
        max-width: 15em;
        padding-right: 1em;
        margin-top: 0.4em;
    }
    .menu a{
        font-size: 1.3em;
    }
    .jogos ul{
        width: 90%;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 1.3em;
    }
    .partida img{
        max-width: 3em;
        width: 100%;
    }
    .notice{
        max-width: 12.5em;
    }
    .aside{
        width: 100%;
        max-width: 13em;
    }
    .next h4{
        font-size: 1.3em;
    }
    .cards-center{
        max-width: 43em;
    }
    .cards-position{
        width: 93%;
    }
    .links h2{
        font-size: 1.3em;
    }
    .links a{
        font-size: 1em;
    }
    .rodape img{
        max-width: 15em;
    }
    .newslatter input[type="email"] { 
        width: 9em;
    }
    .newslatter input[type="submit"] {
        width: 7em;
    }
    .newslatter h2{
        font-size: 0.75em;
    }
    
}

@media screen and (max-width: 64em){
    .content{
        width: 95%;
    }
    .menu a{
        font-size: 1em;
    }
    .banner-text h1{
        font-size: 3em;
    }
    .banner-text p{
        font-size: 1.1em;
    }
    .banner-text a{
        font-size: 1.45em;
    }
    .banner img{
        width: 100%;
        max-width: 64em;
    }
    .about-position img{
        width: 21em;
    }
    .about-text p{
        font-size: 0.9em;
    }
    .about-text h2{
        font-size: 1.7em;
    }
    .jogos img{
        max-width: 7em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 1em;
    }
    .partida{
        width: 10em;
    }
    .partida img{
        max-width: 3em;
        width: 100%;
    }
    .cards{
        height: 65em;
    }
    .cards-center{
        max-width: 49em;
        margin: auto;
    }
    .cards-position{
        display: block;
    }

    .aside{
        display: flex;
        height: 10em;
        width: 100%;
        max-width: 60em;
    }
    .none-2{
        display: none;
    }
    .aside h4{
        font-size: 1.1em;
    }
    .aside img{
        width: 3em;
    }
    .aside p{
        font-size: 1em;
    }
    .rodape img{
        max-width: 10em;
    }
    .newslatter input[type="email"] { 
        width: 6em;
    }
    .newslatter input[type="submit"] {
        width: 5em;
    }
    .newslatter h2{
        font-size: 0.5em;
    }
    .siga-nos h2{
        font-size: 1em;
    }
    .siga-nos img{
        max-width: 7em;
    }
    .links a {
        font-size: 0.8em;
    }
    


}

@media screen and (max-width: 47.93em){
    .menu a {
        font-size: 0.7em;
    }
    .banner-text h1{
        font-size: 2.3em;
    }
    .banner-text p {
        font-size: 0.9em;
    }
    .banner-text a{
        font-size: 1em;
    }
    .cards-position{
        display: block;
    }
    .aside{
        display: flex;
        height: 10em;
        width: 100%;
        max-width: 47em;
    }
    .none{
        display: none;
    }
    .none-2{
        display: block;
    }
    .jogos img{
        max-width:  7em;
    }
    .about-position img{
        max-width: 17em;
    }
    .about-text h2{
        font-size: 1.5em;
    }
    .about-text p{
        font-size: 0.8em;
    }
    .partida img{
        max-width: 2.5em;
    }
    .jogos-aovivo, .jogos-embreve{
        font-size: 1.4em;
    }
    .newslatter input[type="email"] {
        width: 5em;
        height: 2em;
        font-size: 1em;
    }
    .newslatter input[type="submit"] {
        width: 5em;
        height: 2em;
        font-size: 1em;
    }
    .newslatter h2{
        font-size: 0.42em;
    }
    .siga-nos{
        font-size: 0.75em;
    }
    .siga-nos h2{
        font-size: 1.5em;
    }
    .siga-nos img{
        max-width: 3em;
        height: 1.5em;
    }
    .links a{
        font-size: 1em;
    }
    .links h2{
        font-size: 1.5em;
    }
    .logo-rodape{
        max-width: 5em;
    }
    .btnMenu{
        display: block;
    }
    #meusLinks{
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: none; 
    }
    

}
@media screen and (max-width: 43.75em){
    .none-3{
        display: none;
    }
}
@media screen and (max-width: 35.93em){
   .banner-text h1{
       font-size: 2.1em;
   }
   .banner-text p{
       font-size: 0.7em;
   }
}